@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
h1{
    color: white;
}
header{
    text-align: center;
    justify-content: center;
    align-items: center;
}
/*esconder scroll chrome*/
::-webkit-scrollbar {
    display: none;
}
/*informações*/
.char{
    justify-content: center;
    align-items: center;
    gap: 100px;
    display: flex;
}
.lv{
    width: 50%;
}
.lv h1{
    border-radius: 10px;
    background-color: rgba(0, 255, 255,0.8);
}
/*base onde fica as principais informaçoes*/
.intro_personagem{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
.estatisticas{
    display: flex;
}

.char_desc img{
    align-items: center;
    justify-content: center;
}
.char_desc, .atributo_info{
    width: 40%;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 10px;
}
.stats_info, .stats_infos{
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 10px;
}